.page {
  /* --foreground: #CCFF66;
  --background: #2EC4B6; */
  --foreground: #231123;
  --background: #c30f45;
  /* --text-primary: #2C1320;
  --text-secondary: #CFCBCA; */
  --text-primary: #D8DDDE;
  --text-secondary: #CFCBCA;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  min-height: 100vh;
  font-family: var(--font-montreal);
}

.main {
  background-color: var(--background);
  color: var(--foreground);
}