.page {
  /* --foreground: #CCFF66;
  --background: #2EC4B6; */
  --foreground: #c30f45;
  --background: #231123;
  /* --text-primary: #2C1320;
  --text-secondary: #CFCBCA; */
  --text-primary: #D8DDDE;
  --text-secondary: #CFCBCA;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  /* display: flex; */
  min-height: 100vh;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: var(--font-montreal);
}

.main {
  /* display: flex; */
  /* min-height: 100vh; */
  width: 100%;
  /* max-width: 800px; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* padding: 120px 60px; */
  background-color: var(--background);
  color: var(--foreground);
}