.container {
    height: 100svh;
}
.profileCard {
    display: flex;
    flex-direction: row;
}

.imgContainer {
    display: flex;
    height: 100svh;
    min-width: 55vw;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    transform: translateY(-10%);
} 

.profile {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 100svh;
    margin-right: 10%;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
    transform: translateY(5%);
}

.bioSection p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.genres {
    margin-bottom: 10px;
}

.genreBadge {
    font-weight: 700;
    font-size: 1rem;
    padding: 0 5px 0 0 ;
}

.socialLinks a {
    padding-right: 10px;
}


/* switch style */

.imgContainerAlt {
   transform: translateY(10%); 
}

.profileAlt {
    margin-top: 0;
    transform: translateY(-5%); 
}

.imgContainerSwitch {
    order: 1;
}

.profileSwitch {
    text-align: right;
    /* padding-right: 0; */
    margin-right: 0;
    padding-left: 50px;
}

.colorA {
    background-color: #2C1320;
    color: #2EC4B6;
}
.colorB {
    background-color: #2EC4B6;
    color: #2C1320;
}
.colorC {
    color: #2C1320;
    background-color: #CCFF66;
}
