.container {
    height: 100svh;
    overflow: hidden;
    position: relative; /* Create stacking context */
}

.profileCard {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.imgContainer {
    z-index: 1;
    display: flex;
    height: 100svh;
    min-width: 55vw;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    transform: translateY(-10%);
} 

.profile {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 100svh;
    margin-right: 10%;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
    transform: translateY(5%);
}

.bioSection p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.genres {
    margin-bottom: 10px;
}

.genreBadge {
    font-weight: 700;
    font-size: 1rem;
    padding: 0 5px 0 0 ;
}

.socialLinks a {
    padding-right: 10px;
}


/* switch style */

.imgContainerAlt {
   transform: translateY(10%); 
}

.profileAlt {
    margin-top: 0;
    transform: translateY(-5%); 
}

.imgContainerSwitch {
    order: 1;
}

.profileSwitch {
    text-align: right;
    /* padding-right: 0; */
    margin-right: 0;
    padding-left: 50px;
}

.colorA {
    background-color: #2C1320;
    color: #2EC4B6;
}
.colorB {
    background-color: #2EC4B6;
    color: #2C1320;
}
.colorC {
    color: #2C1320;
    background-color: #CCFF66;
}

@media (max-width: 768px) {
    .container {
        /* min-height: 100svh; */
        height: auto;
    }

    .profileCard {
        flex-direction: column;
    }

    .imgContainer {
        height: auto;
        min-width: 100%;
        transform: none;
        /* remove Y shift */
    }

    .profile {
        width: 100%;
        height: auto;
        margin: 0;
        transform: none;
        padding: 10px 20px;
    }

    .profileImage {
        width: 100%;
        height: auto;
        /* keep aspect ratio */
        object-fit: contain;
        /* no cropping */
    }
}