.page {
  /* --foreground: #d16014;
  --background: #313715; */
  /* --foreground: #c30f45;
  --background: #231123; */
  --foreground: #CCFF66;
  --background: #2EC4B6;

  --text-primary: #2C1320;
  --text-secondary: #CFCBCA;

  /* --text-primary: #D8DDDE;
  --text-secondary: #CFCBCA; */

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  min-height: 100vh;
  font-family: var(--font-montreal);
}

.main {
  background-color: var(--foreground);
  color: var(--text-primary);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  /* .main {
    padding: 48px 24px;
  } */
}