.container {
    padding: 20px;
    max-width: 100svw;
    margin: 0 auto;
    color: #DADEE5;
    height: 100%;
}

.innerContainer {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.header h1 {
    margin: 0 0 10px 0;
}

.header p {
    margin: 5px 0;
    font-size: 16px;
}

.userEmail { 
    margin: px 0;
    font-size: 14px; 
    color: #ccc 
}

.roleDisplay {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.signOutBtn {
    padding: 10px 24px;
    background-color: #c30f45;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}