.stepIndicatorContainer{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .stepIndicatorContainer{ 
        padding: 0;
        margin: 0;
    }
}