.main {
  min-height: 100vh;
  font-family: var(--font-montreal);
}

.txtContainer {
  padding: 100px 150px 0;
  min-width: 100svw;
  min-height: 100svh;
  font-size: 1.2rem;
  
}

.txtContainer h3 {
  margin-bottom: 15px;
}

.txtContainer p {
  margin-bottom: 15px;
  line-height: 1.75rem;
  font-weight: 400;
}

@media (max-width: 768px) {
    /* Styles */
    
    .mainContainer {
      font-size: 1.15rem;
    }
    .txtContainer {
      line-height: 2rem;
      padding: 150px 20px 0;

    }
}