.cover {
    min-height: 100svh;
    width: 100svw;
    background-color: var(--background);
    /* background-color: #222; */
    color: var(--foreground);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}

.canvasContainer {
    grid-column: 1 / -1; /* Spans all columns */
    grid-row: 1 / -1;    /* Spans all rows */
    width: 100%;
    height: 100%;
}

.textContainer {
    grid-column: 3 / -1; 
    grid-row: 4 / -1; 
    text-align: right;
    pointer-events: none; /* Allows clicks to pass through */
    padding-right: 20px;
}

.textContainer h1 {
    font-size: 5rem;
}
.textContainer h2 {
    font-size: 2.25rem;
}

@media (max-width: 576px) {
    /* Styles */
    .cover {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
    }
    .textContainer {
        grid-column: 1 / -1; 
        grid-row: 4 / -1; 
    }
    .subtitle h2{
        font-size: 1.5rem;
    } 
}