.mainContainer {
  --foreground: #c30f45;
  --background: #231123;
  --foreground-secondary: #CCFF66;
  --background-secondary: #2EC4B6;
  --text-primary: #D8DDDE;
  --text-secondary: #CFCBCA;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  /* display: flex; */
  max-height: 100svh;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: var(--font-montreal);
}

.credentialsContainer {
  margin-top: 15px;
}

.loginContainer {
  max-width: 400px;
  margin: 200px auto; 
  padding: 20px; 
  background-color:var(--background);
  color:var(--foreground);
}

.inputContainer {
  margin-bottom: 15px;
}

.input {
  width:100%;
  padding:8px;
}

.errorMsg {
  color: red;
}

.submitBtn {
  width:100%;
  padding: 10px;
}

@media (max-width: 600px) {
  .loginContainer {
    margin: 200px 10px; 
  }
}