.container {
    padding: 20px;
}

.ffLogo {
    font-size: 5rem;
    font-weight: 700;
    vertical-align: -0.35rem;
}
.txtLogo {
    font-size: 5rem;
    padding-left: 5px;
}

.subtitle {
    font-size: 1.16rem;
    color: var(--text-primary);
    transform: translateY(-0.5rem);
}