.formGroup {
    padding-bottom: 20px;
}

.formActions {
    margin-top: 20px;
}

.formActions button {
  padding: 2px 12px;
  margin-right: 8px;
  /* background-color: #f3f4f6; */
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.formActions button:hover {
  background-color: #c30f45;
}

.visibility {
    /* position: absolute;
    right: 10px;
    top: 50%;*/
    transform: translateY(15%); 
    padding: 0  0  0 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-Size: 16px;
}

.required {
    color: #c30f45;
}

@media (max-width: 768px) {
    .formGroup input {
        margin: 5px 0;
        padding: 0;
        height: 30px;
        width: 70svw;
    }
}