.container {
  padding: 0 20px;
  width: 100%;
  color: #DADEE5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

.refreshButton {
  padding: 4px 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.refreshButton:hover {
  background-color: #2563eb;
}

.loading,
.empty {
  text-align: center;
  padding: 40px;
  color: #6b7280;
}

.error {
  color: #f00;
}

.retryButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.retryButton:hover {
  background-color: #dc2626;
}

/* .tableContainer {
  overflow-x: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
} */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #f9fafb;
  border-bottom: 2px solid #e5e7eb;
}

.table th {
  /* padding: 2px; */
  text-align: left;
  font-weight: 600;
  color: #374151;
  font-size: 14px;
}

.table td {
  padding: 4px;
  /* border-bottom: 1px solid #e5e7eb; */
  /* font-size: 14px; */
}

/* .table tbody tr:hover {
  background-color: #f9fafb;
} */

.roleBadge {
  display: inline-block;
  padding: 2px 8px;
  color: #dbeafe;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  width: 65%;
  text-align: center;
}

.actionButton {
  padding: 2px 12px;
  margin-right: 8px;
  /* background-color: #f3f4f6; */
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.actionButton:hover {
  background-color: #c30f45;
}

.infoGroup label {
  padding-right: 6px;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        margin-left: 10px;
    }

    .header {
      width: 100svw;
      padding: 0;
    }
}