.profileSection {
    padding: 0 0 20px 0;
}

.profileField label {
    padding-right: 10px;
}
.profileField span {
    font-weight: 700;
}

@media (max-width: 768px) {
    .profileSection {
        padding: 10px 0;
    }
    
    .profileSection h3 {
        padding: 10px 0;
    }
}