.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  display:flex;
  flex-direction: column;
}

.container h2 {
  margin: 0;
}

.container p {
  margin: 0;
}

.container form {
  width: 100%;
}

.container input,
.container textarea,
.container select {
  width: 100%;
  box-sizing: border-box;
}

.container button:hover:not(:disabled) {
  opacity: 0.9;
}

.container button:active:not(:disabled) {
  transform: scale(0.98);
}